// Needed because github switched the default branch name to "main" from "master" and there is a hardcoded bug in nextflow
manifest.defaultBranch = 'main'

// Default sample directory name and path
params.sampleRootDirectory = "/net/nwgc/vol1/data/processed/samples/"
params.samplePipelineDirectoryName = "/shortread-dna-seq/"

rabbit {
    authFile = "/net/nwgc/vol1/software/nextflow-plugin/auth_production.json"
    messageConsumerClass = "ShortReadMultiSampleVcfConsumer"
    pipelineName = "nwgc-nf-shortread-multisample-vcf"
    pipelineVersion = "v1.0.0"
}

profiles {
    instanceSizeLow {
        process {
            withName: "BCFTOOLS_QUERY_SAMPLE_NAME" {
                memory = "2G"
            }
            withName: "GATK_COMBINE_GVCFS" {
                memory = "2G"
            }
            withName: "GATK_CONCAT_CHROMOSOME_GVCFS" {
                memory = "2G"
            }
            withName: "GATK_GENOTYPE_GVCFS" {
                memory = "2G"
            }
            withName: "GATK_HARD_FILTER" {
                memory = "2G"
            }
            withName: "PICARD_SORT_VCF" {
                memory = "2G"
            }
        }
    }

    instanceSizeHigh {
        process {
            withName: "BCFTOOLS_QUERY_SAMPLE_NAME" {
                memory = "2G"
            }
            withName: "GATK_COMBINE_GVCFS" {
                // 8 hr estimate
                memory = "15G"
            }
            withName: "GATK_CONCAT_CHROMOSOME_GVCFS" {
                // 24 hr estimate
                memory = "10G"
            }
            withName: "GATK_GENOTYPE_GVCFS" {
                // 24 hr estimate
                memory = "48G"
            }
            withName: "GATK_HARD_FILTER" {
                // 8 hr estimate
                memory = "16G"
            }
            withName: "PICARD_SORT_VCF" {
                memory = "20G"
            }
        }
    }

    executorLocal {
		// Executor
		executor.name = 'local'
	}

	executorGridEngine {
		// Executor
		executor.name = 'sge'
		executor.jobName = { "${task.tag}" + "_" + "${task.index}" }

		// Grid Engine
		clusterProject = "dna"
		defaultClusterOptions = "-S /bin/bash -P $clusterProject -m as -r yes -R yes";

		process {
			// Default cluster options with 1 hour run time for all processes
			clusterOptions = "$defaultClusterOptions -l d_rt=0:4:0"

		}
	}

	environmentUbuntu22 {
        //  Modules
		initModules = "modules:modules-init:modules-gs"
        
        bcftoolsModule = "bcftools/1.19"
        gatk3Module = "java/1.8.0:GATK/3.7"
        picardModule = "picard/3.1.1"
        tabixModule = "tabix/0.2.6"

        process {
            withName: "BCFTOOLS_QUERY_SAMPLE_NAME" {
                module = "${initModules}:${bcftoolsModule}"
            }
            withName: "GATK_COMBINE_GVCFS" {
                module = "${initModules}:${gatk3Module}:${tabixModule}"
            }
            withName: "GATK_CONCAT_CHROMOSOME_GVCFS" {
                module = "${initModules}:${gatk3Module}"
            }
            withName: "GATK_GENOTYPE_GVCFS" {
                module = "${initModules}:${gatk3Module}"
            }
            withName: "GATK_HARD_FILTER" {
                module = "${initModules}:${gatk3Module}:${bcftoolsModule}:${tabixModule}"
            }
            withName: "PICARD_SORT_VCF" {
                module = "${initModules}:${picardModule}"
            }
        }
    }
}